.homeLayout .hlA {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  background-color: #2695f0;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  overflow: hidden;
}
.homeLayout .hlA:hover {
  width: 180px;
}
.homeLayout .hlAc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.homeLayout .hlAcA {
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #ffffffcc;
  border-radius: 50%;
  margin: 20px 10px;
}
.homeLayout .hlAcB {
  width: 130px;
  font-weight: 600;
  color: white;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}
.homeLayout .hlAcBa {
  font-weight: bold;
}
.homeLayout .hlAcBb {
  font-size: 10px;
}
.homeLayout .hlAcBc {
  font-weight: bold;
  cursor: pointer;
}
.homeLayout .hlAd {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 4px 5px;
  margin: 2px 5px;
  cursor: pointer;
  border-radius: 4px;
}
.homeLayout .hlAd:hover {
  background-color: #ffffff3e;
}
.homeLayout .hlAdA {
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff71;
  border-radius: 4px;
  background-image: url(../../assets/icDashboard.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.homeLayout .product {
  background-image: url(../../assets/icProdect.svg);
}
.homeLayout .sale {
  background-image: url(../../assets/icSale.svg);
}
.homeLayout .purchase {
  background-image: url(../../assets/icPurchase.svg);
}
.homeLayout .staff {
  background-image: url(../../assets/icStaf.svg);
}
.homeLayout .hlAdB {
  width: 130px;
  padding-left: 10px;
  font-weight: 600;
  color: white;
}
